.bread{
    padding: 2% 0% 0% 3%;
}
.single_manga_block{
    display:flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 20% ;
    text-align: center;
}
.single_manga_title{
    font-size: 24px;
    padding-bottom: 2%;
}
.single_im_ds_block{
    padding:10px;
}
.single_manga_image{
    display:inline-block;
    width: 30%;

}
.single_manga_description{
    display:inline-block;
    width:50%;
    padding:10px;
    vertical-align: top;
}
.single_pr_cart_block{
    padding:10px;
}
.single_manga_cart{
    display:inline-block;
    width:30%;
    padding:5px;
}
.single_manga_btn{
    display:inline-block;
    width:50%;
    padding:5px;
    background-color: #242424;
    color: #cbcbcb;
    border-radius: 0.375rem;
    border-width: 3px;
    border-color: #cbcbcb;
}
.single_manga_price{
    display:inline-block;
    width:50%;
    padding:10px;
}

