
.app.dark {
    visibility: hidden;
}

.buy_button.dark{
    visibility: hidden;
}

.blocker.light{
    width: 100%;
    height: 100%;
    text-align: center;
    position: center;
    font-family:  Impact;
    font-size: 100px;
}

.navigation{
    background-color: #323232;
    position: sticky;
    top:0;
    z-index: 1;
    height:9vh;

}

.nav_logo{
    display:inline-block;
    width:10%;
}

.nav_home{
    width:20%;
    display:inline-block;
    padding-right: 20px;
}

.nav_manga{
    width:20%;
    display:inline-block;
}
.nav_cart{
    width:20%;
    display:inline-block;
}
.nav_log_in{
    width:20%;
    display:inline-block;
}
nav_user{
    width:24%;
    display:inline-block;
}

.buy_button2.light{
    visibility: collapse;
}

.buy_button3.dark{
    visibility: collapse;
}