body {
    background-color: #242424 !important;
    color: #cbcbcb !important;
}
.mangas_row{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 20% ;
}
.mangas_block{
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 315px;
    position:relative;
    padding:20px;
}
.mangas_image{
    display:block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 300px;
}
.mangas_link{
    display:block;
    position: absolute;
    bottom:0;
    width: calc(100% - 40px);
    text-align: center;
    text-decoration-line: none;
}

a{
    text-decoration-line: none;
    color: #cbcbcb !important;
}
.logo{
    height: 30px;
}

.manga_block{
    top:50%;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    width: 60%;
    position:relative;
    padding:20px;
}
